/* CSS Document */

#header
{
height:300px;
width:1000px;
margin-left:auto;
margin-right:auto;
}
.h{
height:250px;
width:1000px;


}
.logo{
float:left;
cursor:wait;
}
.name{
height:250px;
width:700px;
float:right;
background-color:#0000CC;
animation-name:eg;
animation-duration:5s;
text-shadow:2px 2px 2px #CCCCCC; 
}
@keyframes eg{
from{background-image:url(img/Jellyfish.jpg)}
to{background-image:url(img/Koala.jpg)}
}


.n{
position:relative;
top:100px;
left:200px;
color:#FFFFFF;
font-size:36px;
}
.menu{
height:50px;
width:1000px;
float:right;
background-image:linear-gradient(to right,red,blue,yellow,green);
}
.menu ul li{
display:inline;
padding:40px;
}

.menu ul li a{
text-decoration:none;
color:#FFFF00;

}

#footer{
height:100px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#000099;
}
.f{
text-align:center;
}
#home{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#999999;
color:#FFFFFF;
}
.p2{
cursor:help;
}

#about{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-image:url(img/Jellyfish.jpg);
}
.im1{
float:left;
}
.im2{
float:right;
}
.im3{
float:left;
}
.im4{
float:right;
}
#service{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#666666;
}
#contact{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;
background-color:#666666;
}
.a1{
height:300px;
width:1000px;
}
.ad{
height:300px;
width:500px;
float:left;
text-align:center;
}
.c1{
height:300px;
width:500px;
float:right;
text-align:center;
}

#register{
height:600px;
width:1000px;
margin-left:auto;
margin-right:auto;

background-image:linear-gradient(to right,red,green,blue,yellow);

text-align:center;
}
